<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid" style="background-color: rgb(255, 255, 255);">
       <img src="https://image.flaticon.com/icons/png/512/2936/2936609.png" height="5%" width="5%"
          alt="The Elevation Group Logo" />
 
       <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="acceuil">Home</a>
             </li>
 
             <li class="nav-item">
                <a class="nav-link" href="jobs">Job serach</a>
             </li>
             <li class="nav-item">
                <a class="nav-link " href="chatbot" tabindex="-1" aria-disabled="true">Virtual Assistant</a>
             </li>
 
             <li class="nav-item">
                <a class="nav-link " href="profile" tabindex="-1" aria-disabled="true">User Profile</a>
             </li>
             <li class="nav-item">
                <a class="nav-link " href=" " tabindex="-1" aria-disabled="true">Logout</a>
             </li>
          </ul>
       </div>
    </div>
 </nav>

 <div class="container">
    <div class="main-body">
    
          
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://media-exp3.licdn.com/dms/image/C5603AQHTzBhV2hWjiw/profile-displayphoto-shrink_200_200/0/1560711561414?e=1628726400&v=beta&t=vZkEgiFeAuhmDzHT5w-qGRd3HowkmY6bWtG9hLRZlx4" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>Zaineb Mahdouani</h4>
                      <p class="text-secondary mb-1">DevOps Engineer intern chez Talan Tunisie</p>
                      <p class="text-muted font-size-sm"> </p>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Linkedin</h6>
                    <span class="text-secondary">https://www.linkedin.com/feed/</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Resume</h6>
                    <span class="text-secondary">resume.pdf</span>
                    <a href="./assets/resume.pdf" target="_blank">open </a>
                    <button type="button" class="btn btn-primary btn-sm" (click)="openDoc('./assets/resume.pdf', 2)">
                      View
                  </button>
                  </li>
                 
                 
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    Zaineb Mahdouani
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      zaineb@gmail.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      (+216) 50971367
                    </div>
                  </div>
                  <hr>
                
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Tunis Tunisie
                    </div>
                  </div>
                  <hr>
                
                </div>
              </div>

              <div class="row gutters-sm">
              
                
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">Links</i>job recommendations</h6>
                      <small><a href="https://www.dice.com/jobs/detail/Mobile-Developer-Provantage-Raleigh-NC-27601/RTX1e186d/6985120">Mobile Developer</a></small>
                      
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      
                      <small><a href="https://www.dice.com/jobs/detail/Mobile-Developer-Provantage-Raleigh-NC-27601/RTX1e186d/6985120">Software Engineer</a></small>
                     
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      
                      <small><a href="https://www.dice.com/jobs/detail/Mobile-Developer-Provantage-Raleigh-NC-27601/RTX1e186d/6985120">Python Developer</a></small>
                      
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      
                      <small><a href="https://www.dice.com/jobs/detail/Mobile-Developer-Provantage-Raleigh-NC-27601/RTX1e186d/6985120">Data Scientist</a></small>
                      <div class="text-center">
                        <br>
                        <button type="submit" class="btn submits sign-up">More</button>
                        <br>
                      </div>
                      

                     
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>


